/* reset default */
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
body {
    font-family: jost;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF7F99 ;
    color: white;
    height: 100px;
    padding: 30px;

    /* flexBox */
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
}


header nav {
    /* flexBox*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a {
    padding: 14px 29px;
    color: white;
    display: flex;
    text-align: center;
    text-decoration: none;
    /*flexbox*/
    flex-grow: 1;
}
.Title-color { 
    color: #FFCA41;
}


.button{
    font-family: jost;
    font-size: 16px;
    color: white;
    border-radius: 60px;
    background-color: #ffc34150;
    border: 15px #ffc341ec;
    height: 30px;
    width: 100px
}
section {
    padding: 50px;
}
.img-container {
    width: 300px;
    height: 300px;
    border-radius: 150px 0px 150px 150px;
    background-color: #FF7F99;
    overflow: hidden ;
}